name: run

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0,6,12,18 * * *'

jobs:

  run:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        url: [
          'https://freemagazinespdf.com',
          'https://freemagazinespdf.com/page/2/',
          'https://freemagazinespdf.com/page/3/',
          'https://freemagazinespdf.com/page/4/',
          'https://freemagazinespdf.com/page/5/'
        ]
          
    steps:
      - uses: actions/checkout@v4
      - run: |
          curl  -I https://proxy.2239559319.workers.dev/

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - run: yarn

      - run: node src "${{ matrix.url }}"
        env:
          MONGO_PWD: ${{ secrets.MONGO_PWD }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      # - name: test
      #   run: |
      #     node test
      # - name: Upload PNG as artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: generated-png
      #     path: '*.png'
      #     retention-days: 30  # 保留30天